<div class="section mt-3">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">O que oferecemos?</h1> 

            <div fxLayout="row wrap" class="services-wrapper">
                <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="50" class="p-2">                 
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center p-3">            
                        <mat-icon class="mat-icon-xlg" color="primary">local_activity</mat-icon>
                        <h2 class="capitalize fw-600 my-3">Voos Panorâmicos</h2>
                        <p>Oferecemos os voos panorâmicos mais incríveis pelo Rio de Janeiro, sobrevoando os principais pontos turísticos.</p>           
                    </mat-card>                   
                </div>
                <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="50" class="p-2">                 
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center p-3">            
                        <mat-icon class="mat-icon-xlg" color="primary">luggage</mat-icon>
                        <h2 class="capitalize fw-600 my-3">Voos Translados</h2>
                        <p>Oferecemos voos executivos para diversos locais, com total conforto e comodidade, além da qualidade excepcional.</p>             
                    </mat-card>                   
                </div>
                <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="50" class="p-2">                 
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center p-3">            
                        <mat-icon class="mat-icon-xlg" color="primary">photo_camera</mat-icon>
                        <h2 class="capitalize fw-600 my-3">Serviços Fotográficos</h2>
                        <p>Temos parceria com profissionais da área para promover takes do voo para que você desfrute e não se preocupe em fotografar.</p>             
                    </mat-card>                   
                </div>
                <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="50" class="p-2">                 
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center p-3">            
                        <mat-icon class="mat-icon-xlg" color="primary">no_crash</mat-icon>
                        <h2 class="capitalize fw-600 my-3">Transfer Terrestre</h2>
                        <p>Temos parceria com empresas de transporte terrestre para realizar todo o trâmite de transporte entre o hotel e o local de decolagem.</p>             
                    </mat-card>                   
                </div>
            </div>                
        </div>
    </div>   
</div>