<div class="section default">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">Nossos Diferenciais</h1>            

            <mat-card class="p-0 o-hidden" fxLayout="row wrap"> 
                <div fxFlex="100" fxFlex.gt-md="50" class="p-3">            
                   <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">monetization_on</mat-icon>
                            <h2 class="capitalize fw-600 my-2">Preço justo</h2>
                            <p>A Helicoptair se preocupa com o cliente e busca sempre o melhor custo benefício para que todos possam desfrutar dessa experiência.</p>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">thumb_up</mat-icon>
                            <h2 class="capitalize fw-600 my-2">Inovação</h2>
                            <p>Nos preocupamos com as mais avançadas tecnologias e inovações para tornar essa experiência mais agradável a todos nossos clientes.</p>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">group</mat-icon>
                            <h2 class="capitalize fw-600 my-2">Equipe Qualificada</h2>
                            <p>Toda equipe é altamente treinada e possui todas as certificações necessárias para prover o seu passeio sem risco e com total dedicação.</p>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">book_online</mat-icon>
                            <h2 class="capitalize fw-600 my-2">Agendamento Online</h2>
                            <p>Faça sua reserva online e nossa equipe entrará em contato para confirmar as informações para que realize seu voo sem preocupações.</p>
                        </div>
                   </div>                     
                </div> 
                <div fxFlex="100" fxFlex.gt-md="50" fxShow="false" fxShow.gt-md>                    
                    <img src="images/others/mission.jpg" alt="mission" class="mw-100 d-block">                
                </div>            
            </mat-card>
                
        </div>
    </div>   
</div>